/* importing the fonts*/
@import url('<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran:wght@700&display=swap" rel="stylesheet">');

:root{
    --proportion: calc( 100vw / 1920);
    --proportion-mobile: calc(100vw / 414);
}

.slick-dots {
    display: flex;
    justify-content: space-between;
}

.slick-dots ul {
    background: url('fundo-guia.svg');
    width: max-content;
    background-repeat: no-repeat;
    background-size: cover, cover;
    padding: 0;
}

.background-Testimony {
    height: 65vw;
    background-image: url("fundo.svg");
    background-repeat: no-repeat;
    background-size: cover, cover;
}

.Body-Testimony{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Slide-Testimony .slick-arrow.slick-prev{
    display: none;
}

.Slide-Testimony .slick-slide {
	padding: 0 8px;
	box-sizing: border-box;
 }

/* editing the arrow*/
.Slide-Testimony .slick-prev {
    content: url('arrow-back.svg');
    position: static;
    transform: scale(1.5) translateY(1px);
    cursor: pointer;
    display: inline-block;
    height: calc(30 * var(--proportion));
    width: calc(20 * var(--proportion));
}
/* editing the arrow*/
.Slide-Testimony .slick-next {
    content: url('arrow.svg');
    margin-left: 3%;
    position: static;
    transform: scale(1.5) translateY(1px);
    cursor: pointer;
    display: inline-block;
    height: calc(39.46 * var(--proportion));
    width: calc(22.56 * var(--proportion));
}

.Body-Testimony .Head-Testimony {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Body-Testimony .Head-Testimony h1 {
    font-family: 'Catamaran', sans-serif;
}

.Body-Testimony .Head-Testimony p {
    font-family: 'Assistant', sans-serif;
}
.Slide-Testimony .Card-body {
    overflow: hidden;
    background-color: #00506E;
    border-radius: 20% 20% 20% 20%;
    height: calc(601 * var(--proportion));
    opacity: 0.7;
    width: calc(535* var(--proportion));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Slide-Testimony .Card-body .content {
    display: flex;
    font-family: 'Assistant', sans-serif;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: calc(16 * var(--proportion))
}

li .sslick-active{
    color: blue;
}

.Slide-Testimony .slick-active .Card-body{
    opacity: 1;
}
.Slide-Testimony .Testimony{
    height: calc(134 * var(--proportion));
    margin: 0% 5%;
}
.slick-prev {
    margin-right: 2%;
}

.Slide-Testimony {
    height: 92%;
    width: 92%;
}
.Slide-Testimony .Card-body .content img {
    height: calc(157 * var(--proportion));
    width: calc(157 * var(--proportion));
    border-radius: 50%;
    margin-top: 10%;
}

.Slide-Testimony .Card-body .Testimony {
    color: white;
}

.Slide-Testimony .Card-body .content .name {
    height: 25%;
    width: 100%;
    border-radius: 70% 70% 0% 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Slide-Testimony .slick-prev:before{
    content: none;
    display: none;
}

/* responsivity */
@media only screen and (max-width: 1024px) {
    .Slide-Testimony .Card-body .content .Testimony {
        height: calc(300 * var(--proportion-mobile));
    }
    .Slide-Testimony .Card-body .content {
        font-size: calc(16 * var(--proportion-mobile));
    }

    .Slide-Testimony  {
        height: 100%;
        margin-top: 1%;
    }

    .Slide-Testimony .Card-body {
        height: calc(360 * var(--proportion-mobile));
        width: calc(342 * var(--proportion-mobile));
        justify-content: space-between;
        
    }

    .Slide-Testimony .Card-body .content img {
        height: calc(100 * var(--proportion-mobile));
        width: calc(100 * var(--proportion-mobile));
        margin-top: 1%;
    }
    .background-Testimony { 
        height: 1000px;
        background-image: url("fundo-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover, cover;
        }
        .Body-Testimony .Head-Testimony {
            margin-top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

}

/* fixing the problem with the slickt arrows*/
.slick-next:before {
    content: none;
    display: none;
}
