@import url('<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran:wght@700&display=swap" rel="stylesheet">');
:root{
    --proportion: calc( 100vw / 1920);
    --proportion-mobile: calc( 100vw / 414);
}

.background {
    height: 65vw;
    background-image: url("fundo.svg");
    background-repeat: no-repeat;
    background-size: cover, cover;
    }

.Body-Testimony{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Slide-Testimony .slick-arrow.slick-prev{
    display: none;
}

.Slide-Testimony .slick-slide {
	padding: 0 8px;
	box-sizing: border-box;
 }

.Slide-Testimony .slick-prev {
    content: url('arrow-back.svg');
    position: static;
    transform: scale(1.5) translateY(1px);
    cursor: pointer;
    display: inline-block;
    height: calc(30 * var(--proportion));
    width: calc(20 * var(--proportion));

}
.Slide-Testimony .slick-next {
    content: url('arrow.svg');
    margin-left: 3%;
    position: static;
    transform: scale(1.5) translateY(1px);
    cursor: pointer;
    display: inline-block;
    height: calc(39.46 * var(--proportion));
    width: calc(22.56 * var(--proportion));
}


.Body-Testimony .Head-Testimony {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Body-Testimony .Head-Testimony h1 {
    font-family: 'Catamaran', sans-serif;
}

.Body-Testimony .Head-Testimony p {
    font-family: 'Assistant', sans-serif;
}
.Slide-Testimony .Card-body {
    background-color: #00506E;
    border-radius: 15%;
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Slide-Testimony .texts {
    font-family: 'Assistant', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    }
.Slide-Testimony {
    height: 90%;
    width: 90%;
}
.Slide-Testimony .Card-body img {
    height: 157px;
    width: 157px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10%;
}

.Slide-Testimony .Card-body .Testimony {
    color: white;
}

.Slide-Testimony .Card-body .name {
    width: 100%;
    border-radius: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.Slide-Testimony .slick-prev:before{
    content: none;
    display: none;
}
@media only screen and (max-width: 1025px) {
    .background { 
        height: 1000px;
        background-image: url("fundo-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover, cover;
        }
        .Body-Testimony .Head-Testimony {
            margin-top: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
}
@media only screen and (max-width: 800px) {
    .background {
        height: 900px;
        background-image: url("fundo-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover, cover;
        }

}
