*{
    outline: none;
}

html{
    scroll-behavior: smooth;
}

button{
    border: none;
}

html, body{
    overflow-x: hidden;
    width: 100vw;
}

.PostToBlog{
    display: flex;
    align-items: center;
    justify-content: center;
}


