:root{
    --proportion: calc( 100vw / 1920);
}


.PostToBlogElement{
    background-color: #f8f8f8;
    border-radius: calc( 48 * var(--proportion));
    height: calc( 277 * var(--proportion));
    width: calc( 255 * var(--proportion));
    margin:100pt 9.6pt 15pt 9.6pt;
    z-index: 1;
    box-shadow: 5px 5px 15px #00222D40;
    overflow: visible;

}

.ElementImage img{
    height: calc( 160 * var(--proportion));;
    width: calc( 255 * var(--proportion));
    z-index: 0;
    border-radius: calc( 48 * var(--proportion)) calc( 48 * var(--proportion)) 0 0;
    margin-bottom: 0;
    overflow: hidden;
} 

h2{
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    color: #00222D;
    font-size: 19.2pt;
    padding-bottom: 14.4pt;
}

p{
    font-family: 'Assistant', sans-serif;
    font-size: 12pt;
    color: #00222D7E;
    font-weight: bold;
    padding-top: calc(12 * var(--proportion));
    margin-bottom: 0;
    margin-top: 0;

}

h2,p{
    padding-left: calc( 27 * var(--proportion));
    margin: none;
}