:root{
    --proportion: calc( 100vw / 1920);
}

.PostToBlogSlick{
    width: calc( 830 * var(--proportion));
    overflow: visible;
}



.slick-dots{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}

.slick-dots ul{
    background-color: #0000000D; 
    border-radius: 50px;
    padding: calc( 10 * var(--proportion)) calc( 7 * var(--proportion)) calc( 11 * var(--proportion))  0;
    height: calc( 28 * var(--proportion));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 40px;
}


.Slider .slick-dots li{
    content: none;
    height: calc( 16.5 * var(--proportion));
    width: calc( 16.5 * var(--proportion));
    background-color: #F8F8F8;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #00222D33;
}

.Slider .slick-dots .slick-active{
    background-color: #00506E;
    box-shadow: none;
}

.slick-dots li button:before{
    content: none;
}


.slick-slide{
    overflow: visible;
    width: calc( 255 * var(--proportion));
    overflow: visible;
}

.slick-prev, .slick-next{
    height: calc( 55* var(--proportion));
    width: calc( 34 * var(--proportion));
}

.slick-prev{
    background: url("./Icon ionic-ios-arrow-back (2).svg") no-repeat center;
    right: 50px;
}

.slick-next{
    background: url("./Icon ionic-ios-arrow-back (2).svg") no-repeat center;
    transform: rotate(180deg);
}

.slick-next .slick-active{
    background: url("./Icon ionic-ios-arrow-back.svg") no-repeat center;
    transform: rotate(180deg);
}












