@import url('<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran:wght@700&display=swap" rel="stylesheet">');
:root{
    --proportion: calc( 100vw / 1920);
}
.Body-Newsletter {
    background: url(fundo-newsletter.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26vw;
    width: calc(1920 * var(--proportion));
}

.Body-Newsletter .Text-Newsletter {
    color: white;
    margin-left: 5%;
}
.Body-Newsletter .Text-Newsletter h1 {
    font-family: 'Catamaran', sans-serif;
}

.Body-Newsletter .Text-Newsletter p {
    font-family: 'Assistant', sans-serif;
}
.Form-Newsletter {
    margin-right: 3%;
    display: flex;

    height: 2vw;
}

.Form-Newsletter input {
    border-radius: 10%;
    border: none;
    width: calc(536 * var(--proportion));
}
.Form-Newsletter button {
    margin-left: 3%;
    width: 106%;
    background-color: #F8F8F8;
    border-radius: 15%;
    border: none;
}