@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran:wght@700&display=swap');
body {
    margin: 0;
}
:root{
    --proportion: calc( 100vw / 1920);
    --mobile: calc(100vw / 414);
}
.Body-Newsletter {
    background: url(fundo-newsletter.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26vw;
    background-size: cover, cover;
    background-repeat: no-repeat;

    overflow-x: hidden;
}

.Body-Newsletter .Text-Newsletter {
    color: white;
    margin-left: 5%;
}
.Body-Newsletter .Text-Newsletter h3 {
    font-family: 'Catamaran', sans-serif;
    font-size: calc(55 * var(--proportion));
    width: calc(900 * var(--proportion));
}

.Body-Newsletter .Text-Newsletter p {
    font-family: 'Assistant', sans-serif;
    font-size: calc( 28 * var(--proportion));
    width: calc(600 * var(--proportion));
}
.Form-Newsletter {
    margin-right: 3%;
    display: flex;

    height: 2vw;
}

.Form-Newsletter input {
    border-radius: 4px;
    border: none;
    width: calc(600 * var(--proportion));
}
.Form-Newsletter button {
    margin-left: 3%;
    width: calc(260 * var(--proportion));
    background-color: #F8F8F8;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
}
.Form-Newsletter button p {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    color: #00222D;
    justify-self: center;
    margin: auto;
}
/* responsivity */
@media only screen and (max-width: 1025px) {
    .Body-Newsletter {
        align-items: center;
        background-size: cover, cover;
        flex-direction: column;
        justify-content: center;
        height: 26vw;
        background-repeat: no-repeat;
    }
    .Form-Newsletter {
        display: flex;
        justify-content: space-between;
    }
    .Form-Newsletter input {
        height: 200%;
    }
    .Form-Newsletter button {
        margin-left: 3%;
        width: 25%;
        height: 200%;
        background-color: #F8F8F8;
        border-radius:0 ;
        border: none;
    }
}
@media only screen and (max-width: 800px) {
    .Body-Newsletter {
        background-size: cover, cover;
        height: calc(200 * var(--mobile));
    }


    .Form-Newsletter button { 
        width: 28vw;
    }
}
@media only screen and (max-width: 700px) {
    .Body-Newsletter {
        background-size: cover, cover;
        
    }


    .Form-Newsletter button { 
        width: 28vw;
    }
}
