@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Barlow:wght@400;700&family=Catamaran:wght@700&display=swap');


:root{
    --proportion: calc( 100vw / 1920);
    --proportionM: calc( 100vw / 414);
}

.Footer{
    background-color: #00222D;
    height: calc( 203.45 * var(--proportion));
    padding-top: calc(38 * var(--proportion));
    padding-bottom: calc(45 * var(--proportion));
    padding-left: calc(140 * var(--proportion));
    padding-right: calc(140 * var(--proportion));
}

.Footer .TopOne{
    display: flex;
    justify-content: space-between;
    width: calc(820 * var(--proportion));
    padding-right: calc(200 * var(--proportion));
}

.Footer .TopTwo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: calc(820 * var(--proportion));
    padding-left: calc(120 * var(--proportion));
}

.Footer .TopLine{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-top: calc(25 * var(--proportion));
}

.Footer h2{
    font-family: 'Catamaran', sans-serif;
    font-size: calc(24 * var(--proportion));
    font-weight: 700;
    color: #FFFFFF;
}

.Footer .TopLine p{
    font-family: 'Assistant', sans-serif;
    font-size: calc(18 * var(--proportion));
    font-weight: 400;
    color: #FFFFFF;

}

.Footer .BottomLine p{
    color: #FFFFFF;
    margin-top: calc(20 * var(--proportion));
}

.Footer .BottomLine{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 0;
    padding-top: calc(20* var(--proportion));
}
.Footer .BottomLine .MadeWith{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: calc(20 * var(--proportion));
}
.Footer .BottomLine .CITiRights{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: calc(16 * var(--proportion));
}


.Footer .SocialMedia img{
    height: calc(37 * var(--proportion));
    width: calc(37 * var(--proportion));
    margin-left: calc(20 * var(--proportion));
}

.Footer .SocialMedia{
    display: flex;
    justify-content: space-between;
    width: calc(138 * var(--proportion));
    padding-bottom: calc( 30 * var(--proportion));
    padding-left: calc(175* var(--proportion));
    padding-top: calc(15* var(--proportion));
}

.Footer .E-mail{
    padding-top: calc(3 * var(--proportion));
}









@media screen and (max-width: 1024px){
    .Footer{
        height: calc(203.45 * var(--proportionM));
        padding-top: 0;
        padding-bottom: calc(20 * var(--proportionM));
    }
    
    .Footer .TopLine{
        padding-top: 0;
    }
    
    .Footer .TopOne{
        display: flex;
        flex-direction: column;
    }

    .Footer .TopTwo{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding-right: 0;
    }

    .Footer .TopTwo h2, .Footer .TopTwo p{
        text-align: right;
    }

    .Footer .BottomLine{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: calc(30 * var(--proportionM));
        padding-top: calc(15* var(--proportionM));
    }

    .Footer .BottomLine p{
        margin-bottom: 0;
    }

    .Footer .BottomLine p, .Footer .TopOne p, .Footer .TopTwo p{
        font-size: calc(14 * var(--proportionM));
        margin-top: 0;
        color: #EAEAEA;
    }
    
    .Footer h2{
        font-size: calc(16 * var(--proportionM));
        height: calc(27 * var(--proportionM));
        margin-bottom: calc(5 * var(--proportionM));
    }

    .Footer .SocialMedia img{
        height: calc(23 * var(--proportionM));
        width: calc(23 * var(--proportionM));
        padding-left: calc(10 * var(--proportionM));
    }

    .Footer .SocialMedia{
        width: calc(100 * var(--proportionM));
        padding-right: calc(100 * var(--proportionM));
        padding-left: 0;
        padding-right: 0;
        padding-bottom: calc(30 * var(--proportionM));
    }

    .Footer .E-mail{
        padding-top: calc(0 * var(--proportionM));
    }

    .Footer .Phone{
        padding-top: calc(15 * var(--proportionM));
        position: relative;
        bottom: calc(26 * var(--proportionM));
    }
}




