@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Catamaran:wght@700&display=swap');
:root{
    --proportion: calc( 100vw / 1920);
    --proportion-mobile: calc(100vw / 414);
}
.Body-Banner {
    height: calc(800 * var(--proportion));
    padding-top: calc(150 * var(--proportion));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(5* var(--proportion));
}
.Body-Banner .Banner-content {
    display: flex;
}
.Body-Banner .Banner-content .Banner-texts-button {
    justify-self: center;
    width: calc(645 * var(--proportion));
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.Body-Banner .Banner-content .Banner-texts-button h4 {
    font-size: calc(46 * var(--proportion));
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    color: #00222D;
    height: calc(114 * var(--proportion));
}
.Body-Banner .Banner-content .Banner-texts-button p {
    height: calc(140 * var(--proportion));
    font-size: calc(28 * var(--proportion));
    color: #00222D;
    font-weight: 400;
    font-family: 'Assistant', sans-serif;
}
.Body-Banner .Banner-content .Banner-texts-button button {
    background-color: #00506E;
    color: #F8F8F8;
    width: calc(426 * var(--proportion));
    height: calc(70 * var(--proportion));
    margin-top: calc(50 * var(--proportion));
    font-size: calc(28 * var(--proportion));
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    border-radius: 12px 12px;
    box-shadow: calc(200 * var(--proportion)) calc(200 * var(--proportion)) #00AEEC40 10px;
    border: none;

}
.Body-Banner .Banner-content .Banner-texts-button button a {
    color: white;
    text-decoration: none;
}
.Body-Banner .Banner-content .Banner-image img{
    width: 100%;
    height: 90%;
}

@media only screen and (max-width: 1024px) {
    .Body-Banner {
        margin: 0;
        padding: auto;
        height: calc(540 * var(--proportion-mobile));
        background: url('photo-banner-mobile.png');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-size: 120%, contain;
    }
    .Body-Banner .Banner-content .Banner-texts-button {
        width: calc(342 * var(--proportion-mobile));
    }
    .Body-Banner .Banner-content .Banner-texts-button h4 {
        color: #F8F8F8;
        text-align: center;
        margin-left: calc(1 * var(--proportion-mobile));
        align-self: center;
        font-size: calc(28 * var(--proportion-mobile));
        width: calc(342 * var(--proportion-mobile));
        height: calc(92 * var(--proportion-mobile));;
        justify-self: center;
    }
    .Body-Banner .Banner-content .Banner-texts-button p {
        color: white;
        height: calc(84 * var(--proportion-mobile));;
        width: calc(342 * var(--proportion-mobile));
        font-size: calc(16 * var(--proportion-mobile));
        margin-left: calc(30 * var(--proportion-mobile));
    }
    .Body-Banner .Banner-content .Banner-texts-button button{
        width: calc(260 * var(--proportion-mobile));
        height: calc(45 * var(--proportion-mobile));
        margin-left: calc(10 * var(--proportion-mobile));
        background-color: #F8F8F8 ;
        color: #00222D;
        font-size: calc(18 * var(--proportion-mobile));
        box-shadow: calc(2 * var(--proportion-mobile)) calc(2 * var(--proportion-mobile)) #F8F8F840;
    }
    .Body-Banner .Banner-content .Banner-texts-button button a {
        color: #00222D;
    }
    .Body-Banner .Banner-content .Banner-image {
        display: none;
    }
}
