@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran:wght@700&display=swap');

:root{
    --proportion-mobile: calc(100vw / 414);
}

.CallToBlog{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .CallToBlog{
        display: flex;
        width: 100vw;
        height: calc(460 * var(--proportion-mobile));
        /*background-color: rgb(29, 175, 233);*/
        background-image: url('./fundo (3).svg');
        border-top: solid;
        border-top-color: #EAEAEA;
        overflow: hidden;
        color: #F8F8F8;
        align-items: center;
        justify-content: center;
        margin-bottom: -5px;
        position: relative;
    }

    .CallToBlog .onda1{
        position: relative;
        bottom: calc( 200* var(--proportion-mobile));
        background-color: #EAEAEA;
        overflow: visible;
    }

    .CallToBlog .onda1 img{
        position: relative;
        top: calc( 50* var(--proportion-mobile));
    }

    .CallToBlog .CallToBlog-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .CallToBlog h2{
        width: calc(249 * var(--proportion-mobile));
        font-size: calc(24 * var(--proportion-mobile));
        font-family: 'Catamaran', sans-serif;
        margin: 0;
    }

    .CallToBlog p{
        width: calc(249 * var(--proportion-mobile));
        font-family: 'Assistant', sans-serif;
        font-size: calc(16 * var(--proportion-mobile));
        text-align: center;
        margin: 0;
        margin-top: calc(20 * var(--proportion-mobile));
    }

    .CallToBlog button{
        width: calc(260 * var(--proportion-mobile));
        height: calc(45 * var(--proportion-mobile));
        border-radius: calc(12 * var(--proportion-mobile));
        background-color: #00506E;
        border: none;
        color: #FFFFFF;
        font-size: calc(18 * var(--proportion-mobile));
        font-family: 'Catamaran', sans-serif;
        margin-top: calc(64 * var(--proportion-mobile));
        outline: none;
    }
}
