/* Importing the font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran:wght@700&display=swap');

/* defining variables */
:root{
    --proportion: calc( 100vw / 1920);
    --proportion-mobile: calc( 100vw / 414);
}


/* style for the whole component */
.ExpertiseArea{
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: calc(850 * var(--proportion));
    padding-top: calc(150 * var(--proportion));
    overflow: hidden;
}

.ExpertiseArea *{
    outline: none;
}

/* TITLE */
/* style for the title of the component "Áreas de atuação" */
.ExpertiseArea h2{
    font-family: 'Catamaran', sans-serif;
    color: #00222D;
    font-size: calc(46 * var(--proportion));
    margin: 0;
}

/* CATEGORIES */
/* styles for the div that contains all categories button */
.ExpertiseArea .categories{
    display: flex;
}

/* Style for the buttons itself */
.ExpertiseArea .categories button{
    margin: 0 calc(27.5 * var(--proportion));
    background-color: white;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
    height: calc(62 * var(--proportion));
    width: calc(234 * var(--proportion));
    border-radius: calc(12 * var(--proportion));
    font-family: 'Catamaran', sans-serif;
    font-size: calc(26 * var(--proportion));
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

/* Style for when the mouse is on top of the button */
.ExpertiseArea .categories button:hover{
    background-color: #00506E;
    color: white;
}

/* Style for when a button is selected */
.ExpertiseArea .categories button.selected{
    background-color: #00506E;
    color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

/* SERVICES */
/* style for the div that contains the slick */
.ExpertiseArea .services{
    height: calc(526 * var(--proportion));
    width: 100vw;
    margin-bottom: calc(59 * var(--proportion));
}

/* Style for the slick itself */
.ExpertiseArea .services .Slider {
    width: 100vw;
    height: calc(526 * var(--proportion));
    overflow: visible;
}

/* ARROWS */
/* this is just to take out the arrow from the mobile version */
.slick-prev, .slick-next{
    display: none;
    transition: 0.5s;
    cursor: pointer;
}

/* Style for the left arrow */
.ExpertiseArea .services .Slider .slick-arrow.slick-prev{
    display: inline-block;
    left: 20vw;
    z-index: 1;
    height: calc(39.46 * var(--proportion));
    width: calc(22.56 * var(--proportion));
    content: url("prevArrow.svg");
    padding: 0;
    transform: translate(0);
}

/* Style for the left arrow hover */
.ExpertiseArea .services .Slider .slick-arrow.slick-prev:hover{
    content: url("prevArrowHover.svg");
}

/* this is just to take off a symbol that is implemented by default*/
.ExpertiseArea .services .Slider .slick-prev::before{
    content: none;
}

/* Style for the right arrow */
.ExpertiseArea .services .Slider .slick-arrow.slick-next{
    display: inline-block;
    right: 20vw;
    z-index: 1;
    content: none;
    height: calc(39.46 * var(--proportion));
    width: calc(22.56 * var(--proportion));
    content: url("nextArrow.svg");
    transform: translate(0) scale(1.5);
}

/* Style for the right arrow hover*/
.ExpertiseArea .services .Slider .slick-arrow.slick-next:hover{
    opacity: 50%;
}

/* this is just to take off a symbol that is implemented by default*/
.ExpertiseArea .services .Slider .slick-next::before{
    content: none;
}

/* SLIDER ITSELF */
/* style of the div inside, the slider, that contains all the services */
.ExpertiseArea .services .Slider .slick-list{
    height: calc(526 * var(--proportion));
    overflow: visible;
}

/* style for the service card that is in the middle */
.ExpertiseArea .services .Slider .slick-list .slick-current .Service{
    opacity: 100%;
}

/* DOTS */
/* style for the div that contains both the dots and the dot container */
.ExpertiseArea .services .Slider .slick-dots{
    bottom: calc(-59 * var(--proportion));
    height: calc(28 * var(--proportion));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for the dot container */
.ExpertiseArea .services .Slider .slick-dots .dot-container{
    height: calc(28 * var(--proportion));
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: calc(24 * var(--proportion));
    display: flex;
    align-items: center;
    padding: 0 calc(3 * var(--proportion));
}

/* style for the dots */
.ExpertiseArea .services .Slider .slick-dots .dot-container li{
    background-color: #F8F8F8;
    height: calc(16 * var(--proportion));
    width: calc(16 * var(--proportion));
    border-radius: 50%;
    margin: 0 calc(8 * var(--proportion));
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
}

.ExpertiseArea .services .Slider .slick-dots .dot-container li button{
    height: 100%;
    width: 100%;
    padding: 0;
}

/* Style for the selected dot */
.ExpertiseArea .services .Slider .slick-dots .dot-container .slick-active{
    background-color: #00506E;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

/* this is just to take off a symbol that is implemented by default*/
.slick-dots li button:before{
    content: none;
}

/* Styles for the mobile version */
@media only screen and (max-width: 1024px) {

    /* style for the whole component */
    .ExpertiseArea{
        min-height: calc(591 * var(--proportion-mobile));
    }

    /* TITLE */
    /* style for the title of the component "Áreas de atuação" */ 
    .ExpertiseArea h2{
        font-size: calc(24 * var(--proportion-mobile));
    }

    /* CATEGORIES */
    /* styles for the div that contains all categories button */
    .ExpertiseArea .categories{
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Style for the buttons itself */
    .ExpertiseArea .categories button{
        margin: calc(5 * var(--proportion-mobile)) calc(5 * var(--proportion-mobile));
        height: calc(41 * var(--proportion-mobile));
        width: calc(140 * var(--proportion-mobile));
        border-radius: calc(12 * var(--proportion-mobile));
        font-size: calc(16 * var(--proportion-mobile));
    }

    /* SERVICES */
    /* style for the div that contains the slick */
    .ExpertiseArea .services{
        height: calc(364 * var(--proportion-mobile));
        margin-bottom: calc(59 * var(--proportion-mobile));
    }

    /* Style for the slick itself */
    .ExpertiseArea .services .Slider {
        height: calc(364 * var(--proportion-mobile));
    }

    /* SLIDER ITSELF */
    /* style of the div inside, the slider, that contains all the services */
    .ExpertiseArea .services .Slider .slick-list{
        height: calc(364 * var(--proportion-mobile));
    }

    /* DOTS */
    /* style for the div that contains both the dots and the dot container */
    .ExpertiseArea .services .Slider .slick-dots{
        bottom: calc(-60 * var(--proportion-mobile));
        height: calc(30 * var(--proportion-mobile));
    }

    /* style for the dot container */
    .ExpertiseArea .services .Slider .slick-dots .dot-container{
        height: calc(30 * var(--proportion-mobile));
        border-radius: calc(16 * var(--proportion-mobile));
    }

    /* style for the dots */
    .ExpertiseArea .services .Slider .slick-dots .dot-container li{
        height: calc(16 * var(--proportion-mobile));
        width: calc(16 * var(--proportion-mobile));
        margin: 0 calc(8 * var(--proportion-mobile));
    }

    /* ARROWS */
    /* Style for the left arrow */
    .ExpertiseArea .services .Slider .slick-prev{
        display: inline-block;
        height: calc(30 * var(--proportion-mobile));
        width: calc(17 * var(--proportion-mobile));
        position: static;
        margin-right: calc(20 * var(--proportion-mobile));
        content: url("prevArrow.svg");
        transform: none;
    }

    /* this is just to take out the arrow from the web version */
    .ExpertiseArea .services .Slider .slick-arrow.slick-prev{
        display: none;
    }

    /* Style for the RIGHT arrow */
    .ExpertiseArea .services .Slider .slick-next{
        display: inline-block;
        height: calc(30 * var(--proportion-mobile));
        width: calc(17 * var(--proportion-mobile));
        position: static;
        margin-left: calc(20 * var(--proportion-mobile));
        content: url("nextArrow.svg");
        transform: scale(1.5) translateY(1px);
    }

    /* this is just to take out the arrow from the web version */
    .ExpertiseArea .services .Slider .slick-arrow.slick-next{
        display: none;
    }

}